@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #3A2244;
    --main-color: #3A2244;
    --secondary-color: #D8ECD0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;   
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 61.5vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/machu-picchu.jpg');
    background-size: cover;
    z-index: -1;

}

#bar{
    background-color: var(--secondary-color);
    color: var(--main-color);
    height: 90px;
}

/*nav*/

.nav{
    --padding-container:0;
    height: 80px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo{
    margin-left: 3%;
}

.nav__title{
    font-weight: bold;
    font-size: 32px;
}

.nav__link{
    margin-right: 3%;
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
    align-items: center;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #3A2244;
    text-decoration: none;
    font-weight: 400;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

#contact__button{
    background-color: var(--main-color);
    color: var(--secondary-color);
    justify-content: center;
    border-radius: 10px;
}

#contact{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 400;
}

/* Hero Container */

.hero__container{
    max-width: 400px;
    display: grid;
    --padding-container: 0;
    align-content: center;
    gap: 1em;
    grid-auto-rows: max-content;
    padding-bottom: 100px;
    text-align: left;
    margin-left: 5%;
}

.hero__tittle{
    font-size: xx-large;
    font-weight: bolder;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: white;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* Search Bar */

.search-bar{
    width: 100%;
    max-width: 360px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 13px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24;
    font-size: 20px;
    color: var(--main-color);
}

::placeholder{
    color: var(--main-color);
    opacity: 50%;
}

.search-bar button img{
    margin-top: 5px;
    margin-left: 0px;
}

.search-bar button{
    border: 0;
    border-radius: 13px;
    width: 45px;
    height: 45px;
    background: var(--secondary-color);
    cursor: pointer;
    align-items: center;
}

#input__text{
    width: 100%;
    max-width: 300;    
}

/* About */

.about{
    text-align: center;
    background-color: white;
}

.subtitle{
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__main{
    padding-top: 1em;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
}

.about__paragraph{
    line-height: 1.7;
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 160px;
    overflow: hidden;
    margin:0 auto;
}

.about__icon{
    width: 60px;
}
.about__title{
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: 50px;
    width: 160px;
    border-radius: 10px;
}


/* Nuestras herramientas */
.tools{
    text-align: center;
    background-color: var(--secondary-color);
}

.tools__main{
    padding-top: 1em;
    display: grid;
    width: 70%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.tools__paragraph{
    line-height: 1.7;
}

.tools__icons{
    display: grid;
    gap: 2em;
    justify-items: center;
    overflow: hidden;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
}

.tools__icon{
    margin: auto;
    width: 150px;
}

.tools__title{
    justify-items: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: 50px;
    width: 150px;
    cursor:pointer;
    border-radius: 10px;
}
